    <div class="container">
        <div class="transbox col-sm-8">
        </div>
        <div class="card-columns">
        <div class="row">
            <div class="col-sm-4 p-3">            
                    <div class="card">
                    <img class="card-img-top" src="https://www.motonline.com.br/noticia/wp-content/uploads/2021/12/kawasaki-z-900-r-edition.jpg" height="320px" width="300px" alt="Card image cap">
                    <div class="card-body">
                    <p class="card-title">Kawasaki Z900</p>
                    <p class="card-text">O espírito Z encontra sua expressão mais recente no Z900 com estilo Sugomi. Potência ao máximo, manuseio instintivo e controle de tração redefinem a experiência supernaked. Luzes LED e um display TFT trazem a mais recente tecnologia.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-3">            
                <div class="card">
                    <img class="card-img-top" src="https://cdn.motor1.com/images/mgl/NvbmX/s1/4x3/yamaha-mt-09-2020.webp" height="270px" width="100px" alt="Card image cap">
                    <div class="card-body">
                    <p class="card-title">Yamaha MT-09</p>
                    <p class="card-text">
                            Topo de linha entre as nakeds da Yamaha no Brasil, a MT-09 entra na linha 2020 com boas novidades para quem gosta de pilotar. Além do visual que a afasta da MT-07, com novo farol duplo em LEDs e grandes mudanças na traseira, mantém o motor de 3 cilindros e 847 cm³ com 115 cv e 8,9 kgfm de torque ligado ao câmbio de seis marchas.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-3">            
                <div class="card">
                    <img class="card-img-top" src="https://http2.mlstatic.com/D_NQ_NP_645540-MLB47888975801_102021-O.jpg" height="320px" width="400px" alt="Card image cap">
                    <div class="card-body">
                    <p class="card-title">Fazer 250</p>
                    <p class="card-text">Num mercado de motos cada vez mais dinâmico, a Fazer 250 é um produto bastante popular e um degrau natural para quem vem da categoria das 150/160 cilindradas, como no caso da Yamaha Factor 150, por exemplo.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-3">            
                <div class="card">
                    <img class="card-img-top" src="https://a-static.mlcdn.com.br/1500x1500/moto-eletrica-infantil-princesas-disney-2-marchas-6v-bandeirante/magazineluiza/221393000/2ca95cd33a7b09d051c19464431903cc.jpg" height="350px" width="600px" alt="Card image cap">
                    <div class="card-body">
                    <p class="card-title">Moto Eletrica Infantil - Princesas</p>
                    <p class="card-text">Sabe aquele presente para o seu filho ou sua filha que vai deixar ele(a) pulando de felicidade? Este presente é a Moto Eletrica Infantil Princesas! Esta incrível mini moto elétrica infantil vai fazer a alegria da sua criança!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-3">            
                <div class="card">
                    <img class="card-img-top" src="https://http2.mlstatic.com/D_NQ_NP_2X_728685-MLB48590547485_122021-F.webp" height="400px" width="100px"  alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title">Mini Moto Eletrica Infantil Preta Policia</p>
                        <p class="card-text">Seu Pequeno vai se amarrar com a mini moto, feita especialmente para proporcionar mais diversão e ajudar no desenvolvimento pedagógico.</p>
                    </div>
                </div>
            </div>                                                                                               
            <div class="col-sm-4 p-3">            
                <div class="card">
                    <p class="card-title"></p>
                    <img class="card-img-top" src="https://a-static.mlcdn.com.br/1500x1500/moto-eletrica-fox-hello-kitty-biemme/magazineluiza/204919300/ac92ba1c097217858c7eee659810d05f.jpg" height="315px" width="400px" alt="Card image cap">
                    <div class="card-body">
                    <p class="card-title">Moto Elétrica Fox Hello Kitty - Biemme </p>
                    <p class="card-text">Cheia de graça e estilo, é elegante e tem como tema a personagem mais fofinha dos últimos tempos. Tem ainda fiação totalmente embutida, fusível para proteção do motor e carregador bivolt. Tem trava no acelerador para segurança no transporte e é garantia de muita diversão para a garotada! </p>
                    </div>
                </div>
            </div>  
         </div>
    </div>    
</div>          

<hr><br>
<div id="carouselExampleCaptions" class="carousel-inner center-block" class="carousel slide" data-bs-ride="carousel"> 
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/hcbr1.jpg" class="d-block w-50" alt="Honda">
        <div class="carousel-caption d-none d-md-block">
          <h5>Honda CB1000R Black Edition</h5>
          <p>ACB1000R Black Edition vai mais longe. Muito mais longe.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/yfzr.jpg" class="d-block w-50" alt="Yamaha">
        <div class="carousel-caption d-none d-md-block">
          <h5>Yamaha - FAZER 150 UBS</h5>
          <p>Fazer 150 UBS 2022 com o melhor preço e as melhores condições.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/kz6.jpg" class="d-block w-50" alt="Kawasaki">
        <div class="carousel-caption d-none d-md-block">
          <h5>Kawasaki - Z650 ABS</h5>
          <p>O impressionante estilo Sugomi, pilotagem fácil e potência que invocam o espírito Kawasaki Z.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

    