div.transbox {
  position: relative;
  max-width: 800px;
  padding:  15px 50px 300px 50px !important;
  margin: auto !important;
  color: white;
  /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.75) 75%,rgb(0, 0, 0) 100%),url("https://i.postimg.cc/6py1XqXv/otonix.png");*/
  background: url("https://i.postimg.cc/6py1XqXv/otonix.png");  
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-size: 100% !important;
  background-size: 60% 140%;
  }

  .carousel-item img{
    height: 50%;  
    width: 50%;  
    position:relative;
    top:.5;
  }